html, body {
	height: 100%;
	width: 100%;
}

.centered {
	text-align: center;
}

img {
	max-width: 100%;
	margin-bottom: 10px;
}
.overlay {
	background: url("../staticImg/unicorn.jpg") no-repeat center center fixed;
	background-size: cover;
	position: absolute;
	width: auto;
	height: 100%;
	opacity: 0.01;
	z-index: 0;
}

a {
color: black;
}
